# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.1
  hooks:
  - id: ruff
    types_or: [python, pyi, jupyter]
  - id: ruff-format
- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.3.0
  hooks:
  - id: pydocstyle
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: [-x]
- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
    - id: isort
      args: [--profile=black]
      name: isort (python)
- repo: https://github.com/kynan/nbstripout
  rev: 0.8.1
  hooks:
    - id: nbstripout
- repo: https://github.com/openstack/bashate
  rev: 2.1.1
  hooks:
    - id: bashate
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.9.1
  hooks:
    - id: nbqa-ruff
      args: [--fix, --show-fixes]
    - id: nbqa-pyupgrade
      args: ["--py39-plus"]
    - id: nbqa-isort
      args: ["--float-to-top", "--profile=black"]
